name: Generate Snake

on:
  # Өдөр бүр шөнө дунд ажиллана
  schedule:
    - cron: "0 0 * * *" 
  
  # Гараар ажиллуулах боломжтой болгох
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.0

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # GitHub user name-ээ энд бичнэ
          github_user_name: kuzowebsite
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
